#wrap {
  width: 740px;
  margin: 50px auto;
  padding: 125px 50px 50px 50px;
  color: #333;
  position: relative;
  -webkit-box-shadow: 2px 2px 5px #888;
}

#page {
  float: right;
  width: 565px;
}

#sidebar {
  float: left;
  width: 150px;
}

#mainnav li {
  width: 100px;
  padding: 5px 15px;
}

#bookmark {
  left: 225px;
}

#seam {
  width: 80px;
  height: 100px;
}
