<div id="bio">
  <h2>Who's Hot Right Now?</h2>
  
  <h3>Beau Dandy</h3>
  <div>
    <div class="media"><img src="/images/beau_100.jpg" width="100px" height="100px" alt="Beau Dandy" /></div>
    <p class="content">Content about Beau Dandy</p>
    <div style="clear:both;"></div>
  </div>
  
  <h3>Johnny Stardust</h3>
  <div>
    <div class="media"><img src="/images/johnny_100.jpg" width="100px" height="100px" alt="Johnny Stardust" /></div>
    <p class="content">Content about Johnny Stardust</p>
    <div style="clear:both;"></div>
  </div>
  
  <h3>Glendatronix</h3>
  <div>
    <div class="media"><img src="/images/glenda_100.jpg" width="100px" height="100px" alt="Glendatronix" /></div>
    <p class="content">Content about Glendatronix</p>
    <div style="clear:both;"></div>
  </div>

  <h3>Kellie</h3>
  <div>
    <div class="media"><a href="/images/kellie_400.jpg" class="lightbox"><img src="images/kellie_100.jpg" width="100px" height="100px" alt="Kellie" /></a></div>
    <p class="content">Content about Kellie</p>
    <div style="clear:both;"></div>
  </div>
</div>
