<div id="gallery">

  <h3>Fancybox photo gallery</h3>

  <div class="media">
    <a href="/images/beau_400.jpg" rel="celeb">
      <img src="/images/beau_100.jpg" alt="Beau Dandy" />
    </a>
  </div>

  <div class="media">
    <a href="/images/johnny_400.jpg" rel="celeb">
      <img src="/images/johnny_100.jpg" alt="Johnny Stardust" />
    </a>
  </div>

  <div class="media">
    <a href="/images/glenda_400.jpg" rel="celeb">
      <img src="/images/glenda_100.jpg" alt="Glendatronix" />
    </a>
  </div>

  <div class="media">
    <a href="/images/kellie_400.jpg" rel="celeb">
      <img src="/images/kellie_100.jpg" alt="Kellie" />
    </a>
  </div>
  
  <div style="clear:both;"></div>

</div>
