<ul id="menu">
  <li><a href="#">What's new?</a>
    <ul class="active">
      <li><a href="#">Weekly specials</a></li>
      <li><a href="#">Last night's pics!</a></li>
      <li><a href="#">Users' comments</a></li>
    </ul>
  </li>
  <li><a href="#">Member extras</a>
    <ul>
      <li><a href="#">Premium celebrities</a></li>
      <li><a href="#">24-hour surveillance</a></li>
    </ul>
  </li>
</ul>
