<div id="news">
  <h3>News</h3>
  <ul>
    <li><a href="#">Baron Von Jovi spotted ...</a></li>
    <li><a href="#">Mo' Fat signs up-and-coming rapper ...</a></li>
    <li><a href="#">Glentronix rumored to be ...</a></li>
    <li><a href="#">Man claims to be Darth Fader's son ...</a></li>
  </ul>
</div>
