<div id="fader">
  <h3>Rollover fader</h3>
  <img src="/images/glenda_200.jpg" width="200px" height="200px" alt="Glendatronix" />
  <img class="to" src="/images/fader_200.jpg" width="200px" height="200px" alt="Darth Fader" />
</div>
