<div id="scroller">
  <div id="scroller_inner">
    <img src="/images/glenda_100.jpg" alt="Glendatronix" />
    <img src="/images/fader_100.jpg" alt="Darth Fader" />
    <img src="/images/beau_100.jpg" alt="Beau Dandy" />
    <img src="/images/johnny_100.jpg" alt="John Stardust" />
    <img src="/images/mofat_100.jpg" alt="Mo' Fat" />
    <img src="/images/glenda_100.jpg" alt="Glendatronix" />
    <img src="/images/fader_100.jpg" alt="Darth Fader" />
    <img src="/images/beau_100.jpg" alt="Beau Dandy" />
    <img src="/images/johnny_100.jpg" alt="John Stardust" />
    <img src="/images/mofat_100.jpg" alt="Mo' Fat" />
    <img src="/images/glenda_100.jpg" alt="Glendatronix" />
    <img src="/images/fader_100.jpg" alt="Darth Fader" />
    <img src="/images/beau_100.jpg" alt="Beau Dandy" />
    <img src="/images/johnny_100.jpg" alt="John Stardust" />
    <img src="/images/mofat_100.jpg" alt="Mo' Fat" />
  </div>
</div>
