<div id="slideshow">
  <h3>Photo slideshow</h3>
  <img src="/images/glenda_200.jpg" alt="Glendatronix" />
  <img src="/images/fader_200.jpg" alt="Darth Fader" />
  <img src="/images/beau_200.jpg" alt="Beau Dandy" />
  <img src="/images/johnny_200.jpg" alt="John Stardust" />
  <img src="/images/mofat_200.jpg" alt="Mo' Fat" />
</div>
